body {
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

#photos_section {
    max-width: fit-content;
    margin: auto;
}

#title, .subtitle, .post_title {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

.subtitle {
    text-align: center;
}

a {
    text-decoration: none;
    color: #505050;
}

.post {
    background: white;/* cor do conteúdo */
    padding: 15px;/* espaçamento entre o conteúdo e a borda */
    border: 2px solid #505050;/* borda da caixa: 3px de largura, sólida da cor preta */
    margin-bottom: 15px;/* espaçamento entre elementos */
    border-radius: 5px;
}

.post_header {
    max-width: fit-content;
    margin: auto;
    margin-bottom: 15px;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-align: justify;
}

.contacts_list {
    list-style-type: none;
    padding: 0;
    max-width: fit-content;
    margin: auto;
}

.contacts_list li {
    float: left;
    padding: 15px;
}

